* {
    display: grid;
}

.grid_container {
    display: grid;
    width: 1280px;
    grid-template-columns: 5% 20% 25% 45% 5%;
    grid-template-rows: 10% 30% 10% 25% 25%;
}

#projecttitle {
}

#dates {
    display: grid;

    background-color: coral;
}

#articletitle {
    background-color: mediumorchid;
}

#articlesubtitle {
    background-color: aquamarine;
}

#maintext {
    background-color: burlywood;
}