/*Default display: phone screen*/
.grid_container {
    display: grid;
    grid-template-rows: 6% 2% 5% 77% 10%;
    /*Title, gap, NavBar, Main, Footer*/
    background-color: yellow;
    font-family: sans-serif;
}

body {
    width: fit-content;
    padding: 0% 0% 0% 0%;
}

main {
    color: darkkhaki;
}

footer {
    color: cadetblue;
}

#page_title {
    color: black;
    grid-row: 1 / 2;
}

#navbar {
    grid-row: 3/4;
}

@media only screen and (min-width: 768px) {

    /*Display for medium devices: tablets*/
    .grid_container {
        display: grid;
        background-color: orange;
    }

    body {
        width: fit-content;
        padding: 0% 0% 1% 0%;
    }

    header {
        color: black;
    }

    main {
        color: black;
    }

    footer {
        color: black;
    }
}

@media only screen and (min-width: 1024px) {

    /*Display for large devices: laptop/desktop*/
    .grid_container {
        display: grid;
        background-color: red;
    }

    body {
        width: fit-content;
        padding: 1% 7.5% 2% 7.5%;
    }

    header {
        color: black;
    }

    main {
        color: black;
    }

    footer {
        color: black;
    }
}