/*Default display: phone screen*/
.grid_container {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(139, 163, 161);
}

body {
    width: fit-content;
    /*background-color: rgb(174, 204, 194);*/
    background-color: lemonchiffon;
}

main {
    align-items: flex-start;
}

/*Formatting for all Articles*/
article {
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 2rem 1rem 2rem;
}

#section1 {
    background-image: url("media/header1.png");
    background-repeat: repeat-x;
    background-size: contain;
}

/*The Home of Liz Andrade*/
#page_title {
    color: black;
    align-self: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem -1rem 1rem;
    font-size: 2rem;
    background-color: rgb(200, 217, 218);
    border: 2px rgb(45, 44, 48) solid;
}

/*Navbar for section links*/
#navbar {
    align-self: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1.25rem 1rem -1rem 1rem;
    background-color: rgb(200, 217, 218);
    border: 2px rgb(45, 44, 48) solid;
}

nav a {
    display: block;
    padding: .2rem .2rem .2rem .2rem;
}

/*Link Styling*/
a {
    text-decoration: none;
}

a:link {
    color: rgb(25, 150, 150);
}

a:visited {
    color: rgb(145, 80, 150);
}

a:hover {
    color: rgb(25, 200, 200)
}

a:active {
    color: rgb(125, 250, 240)
}

/*Article/Section titles*/
#a1_title {
    text-align: center;
    padding: 1rem 3rem 1rem 3rem;
    margin: auto;
    font-size: 1.5rem;
}

#a1_subheading {
    padding: 1rem 3rem 1rem 3rem;
    margin: auto;
    text-align: justify;
}

/*Liz image in Article02*/
#liz_bio {
    /**/
    padding: 12rem 12rem 12rem 12rem;
    margin: 1rem 1rem 1rem 1rem;
    align-self: center;

    /*Text Styling*/
    color: lightcyan;
    text-shadow: 2px 2px 3px black;
    list-style-type: none;
    text-align: center;

    background-image: url("media/bio_Liz.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#marielle_bio {
    padding: 12rem 12rem 12rem 12rem;
    margin: 1rem 1rem 1rem 1rem;
    align-self: center;

    color: lightcyan;
    text-shadow: 2px 2px 3px black;
    list-style-type: none;
    text-align: center;

    background-image: url("media/bio_Marielle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#rui_bio {
    padding: 12rem 12rem 12rem 12rem;
    margin: 1rem 1rem 1rem 1rem;
    align-self: center;

    color: lightcyan;
    text-shadow: 2px 2px 3px black;
    list-style-type: none;
    text-align: center;

    background-image: url("media/bio_Rui.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 1024px) {

    /*Display for large devices: laptop/desktop*/
    .grid_container {
        display: flex;

    }

    body {
        width: fit-content;
        background-color: palegreen;
    }

    #section1 {
        display: grid;
        grid-template-columns: 80% 20%;
        background-image: url("media/header1.png");
        background-repeat: repeat-x;
        background-size: contain;
        padding: 0.5rem;
        margin: 1rem;
    }

    #page_title {
        color: black;
        align-self: center;
        background-color: aliceblue;
    }

    #navbar {
        display: inherit;
        align-content: space-evenly;
        background-color: rgb(200, 217, 218);
        border: 2px rgb(45, 44, 48) solid;
        margin: .25rem;

    }

    #article01 {
        display: grid;
        grid-template-columns: 48% 4% 48%;
    }

    #a1_title {
        font-size: 1.5rem;
        grid-column: 1 / 2;

    }

    #a1_subheading {
        padding: 1rem 3rem 1rem 3rem;
        grid-column: 1 / 2;
    }

    #a01_p1 {
        grid-column: 1 / 2;

    }

    #a01_p2 {
        grid-column: 1 / 2;
    }

    #a01_p3 {
        grid-column: 1 / 2;

    }

    #a01_image {
        grid-column: 3 / 4;

    }
}

/*Google Fonts*/
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.lateef-extralight {
    font-family: "Lateef", serif;
    font-weight: 200;
    font-style: normal;
}

.lateef-light {
    font-family: "Lateef", serif;
    font-weight: 300;
    font-style: normal;
}

.lateef-regular {
    font-family: "Lateef", serif;
    font-weight: 400;
    font-style: normal;
}

.lateef-medium {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
}

.lateef-semibold {
    font-family: "Lateef", serif;
    font-weight: 600;
    font-style: normal;
}

.lateef-bold {
    font-family: "Lateef", serif;
    font-weight: 700;
    font-style: normal;
}

.lateef-extrabold {
    font-family: "Lateef", serif;
    font-weight: 800;
    font-style: normal;
}

.karla-extralight {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.karla-regular {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.karla-bold {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.barriecito-regular {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}